*{
    padding: 0;
    margin: 0;
}

.navig{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 20px;
}
.navig ul{
    width: 100%;
    height: 50px;
    list-style: none;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navig ul li{
    margin: 0 15px;
}
.navig ul li a{
    text-decoration: none;
    color: black;
    font-size: larger;
}
.navig ul li a:hover{
    text-decoration: underline;
}
